body {
  font-family: Arial, Helvetica, sans-serif;
  background: #faf5ff;
  color: #fdfdfd;
  width: 1366px;
  height: 768px;

  background-image: url('./pages/login/img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 768px 765px;
}
